{% load static %}
{% for weather in weather_data %}
<div class="card mb-3" id="city-{{ weather.city_id }}">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Weather Icon" class="img-fluid">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ weather.city }}</h5>
                <p class="card-text">{{ weather.temperature }}° C<br>{{ weather.description }}</p>
            </div>
        </div>
    </div>
    <div class="position-absolute top-0 end-0 right-0 p-2">
        <button class="btn rounded btn-sm" 
            hx-get="{% url 'edit_city' pk=weather.city_id %}" 
            hx-target="#dialog"
        >
            <img src="{% static "pencil-svgrepo-com.svg" %}" alt="Pencil icon">
        </button>
    </div>
</div>
{% endfor %}